* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  padding: 8px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid;

  height: 50px;
}
#searchbar {
  width: 450px;
  padding: 5px;
  border-radius: 18px;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid;
}
.container {
  padding: 20px;
  width: 55vw;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}
.bookcard {
  width: 290px;
  height: 350px;

  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 8px;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
  text-decoration: none;
  /* overflow: hidden; */
}
a {
  text-decoration: none;
}
.thumbnail {
  width: 100%;
  border: 1px #e4e4e4;
  border-radius: 8px;
  object-fit: fill;
}
.cardText {
  font-size: 16px;
  margin-top: 10px;
  font-weight: bolder;
  line-height: 1.2rem;
  text-decoration: none;
  color: black;
}
.pagination {
  display: flex;
  padding: 10px;
}
.pageBtn {
  margin: 0px 5px;
}
